body {
    background: #5bed47;
  }
  
  h1 {
    margin: auto;
    font-size: 10vh;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  
  #btn {
    margin-top: 20vh;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(21, 16, 16);
    border: 2px solid rgb(230, 10, 10);
    padding: 10px 50px;
    cursor: pointer;
  }
  
  #content {
    margin: auto;
    padding: 4vh;
    font-size: 1.2rem;
    max-width: 700px;
    margin-top: 20px;
  }